:root{
  --primary: #00552e;
  --secondary: #049A5B;
  --accent: #32FCA7;
}

*{
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #FFF;
  font-family: 'Arial';
}

main{
  width: 100%;
  height: 100%;
  display: flex;
}

#root{
  width: 100%;
  height: 100%;
}