.login{
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.login section{
    color: white;
    padding: 3rem;
    height: 60%;
    border-radius: 35px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.login h1{
    font-size: 2.5rem;
    color: var(--primary);
    align-self: start;
}

.login button{
    font-size: 1rem;
    margin: 2rem;
    padding: 1.1rem;
    border-radius: 15px;
    border: none;
    background-color: var(--primary);
    color: white;
    width: 100%;
    font-weight: bold;
}