.Form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Form section{
    margin: 1rem;
    width: 100%;
}

.Form h1{
    color: var(--primary);
    width: 100%;
    margin-top: 2rem;
}

.FormInput{
    width: 90%;
    background-color: var(--primary);
    color: white;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: auto;
}

.FormInput input{
    margin: 0.5rem;
    border: none;
    padding: 0.2rem;
    outline: none;
    font-size: 0.85rem;
}

.FormInput textarea{
    height: 5rem;
    outline: none;
    margin: 0.5rem;
}

.Form button{
    font-size: 1.2rem;
    color: white;
    background-color: var(--primary);
    border:none;
    outline: none;
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
}